* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

header {
  background-color: rgb(136, 136, 230);
  color: #000000;
  text-align: center;
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
}

main {
  height: calc(100vh - 70px);
  width: 100%;
  padding: 1.5rem;
  display: flex;
  gap: 1rem;
  background-color: #141313;
}

main .left,
main .right {
  height: 100%;
  flex-basis: 50%;
}

main .left {
  background-color: #000000;
  position: relative;
  overflow: auto; /* Enables scrolling */
  border: 3px solid #ddd;
  border-radius: 5px;
}

main .right {
  background-color: #222222;
  padding: 1rem 2rem;
  font-size: 1rem;
  overflow: auto; /* Ensures scrolling */
  border: 3px solid #ddd;
  border-radius: 5px;
}

.left .code,
.code pre,
.code pre code {
  height: auto;
  max-height: 100%;
  width: 100%;
  margin: 0;
  background-color: #0c0c0c;
  overflow: auto; /* Enables vertical scrolling */
  padding: 1rem;
  white-space: pre; /* Preserve formatting */
}

main .left .review {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  background-color: rgb(136, 136, 230);
  color: #000000;
  padding: 0.5rem 2rem;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  border-radius: 0.7rem;
}

.editor-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto; /* Allow scrolling */
}

.placeholder {
  position: absolute;
  top: 13px;
  left: 14px;
  color: #888;
  font-size: 16px;
  font-family: "Fira Code", monospace;
  pointer-events: none; /* Allows clicks to go through */
}

.contact-container {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.contact-btn {
  position: fixed;
  bottom: 19px;
  right: 32px;
  background-color: rgb(136, 136, 230);
  color: #000;
  border: none;
  padding: 12px 15px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.contact-btn:hover {
  background-color: rgb(110, 110, 210);
}

.contact-menu {
  position: fixed;
  bottom: 70px;
  right: 20px;
  background-color: #222;
  border: 2px solid #444;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.contact-menu a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 8px;
  border-radius: 5px;
  transition: 0.3s;
}

.contact-menu a:hover {
  background-color: #333;
}

.contact-menu .linkedin {
  background-color: #0077b5;
}

.contact-menu .github {
  background-color: #1c1c1c;
}
